body {
    margin: 0;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

#ecran{


}
#gauche {
    grid-row: 1;
    background-color: #89c4a1;
    visibility: hidden;
    opacity: 0;
}
#droite {
    background-color: #7ab8a1;

}

form{
    display: grid;
    margin-top: 50px;
    text-align: center;
    background-color: whitesmoke;
}